* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad {
    height: 350px;
    width: 350px;
    background: #ff1396
}

.div-son {
    height: 150px;
    width: 150px;
    background: #ffff00;
}

.tanananana {
    background: #ff0000;
    height: 100px;
    width: 100px;
}